body, html {
    height: 100%;
}

.parallax {
    background-image: url('img_parallax.jpg');
    
    height: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block {
    height: 1000px;
    background-color: red;
    font-size: 36px;
}
